<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  thread-count="5"  name="Page Object Model Project">
      
      <classes>
      <class name="co.edureka.tests.TestBase"/>
       <class name="co.edureka.tests.FbLoginTest"/>
      
      
    
      </classes>
  </test> <!-- Test --> 
  
  </suite> 